
plos_template.aux

plos_template.log

plos_template.synctex.gz

TSWLatexianTemp_000040.aux

TSWLatexianTemp_000040.bbl

TSWLatexianTemp_000040.blg

TSWLatexianTemp_000040.log

TSWLatexianTemp_000040.pdf

TSWLatexianTemp_000040.synctex

TSWLatexianTemp_000040.tex
